@import "../../../stylesheets/variables";

.menu-overlay-wrapper {
  background: $color__white;
  height: 100%;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  transition: opacity 500ms ease;
  width: 100%;
  z-index: 500;

  &.fade-transition {
    transition: opacity $transition-standard;
  }

  &.fade-enter,
  &.fade-leave {
    opacity: 0;
  }
}

.menu-overlay__nav-wrapper,
.menu-overlay__accent-wrapper {
  @media screen and (min-width: $tablet-lg) {
    float: left;
    width: 50%;
  }
}

.menu-overlay__nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 3.5rem;

  @media screen and (min-width: $tablet-lg) {
    padding: 6rem;
  }
}

.menu-overlay__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.menu-overlay__nav-list__item,
a.menu-overlay__nav-list__item {
  font-family: $font__family-serif;
  font-size: 4rem;
  font-weight: 300;
  color: $color__black;
  line-height: 1.333;
  text-decoration: none;
  transition: color $transition-standard;

  &:hover {
    color: $color__gray;
  }

  @media screen and (min-width: $tablet-lg) {
    color: $color__gray;

    &:hover {
      color: $color__black;
    }
  }
}

.menu-overlay__nav-social {
  border-top: 1px solid $color__gray;
  padding-top: 6rem;
}

.menu-overlay__nav-social__item,
a.menu-overlay__nav-social__item {
  transition: color $transition-standard;
  text-decoration: none;
  &:first-of-type {
    margin-right: 2rem;
  }
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.menu-overlay__nav-contact {
  margin-top: 4rem;
}

.menu-overlay__accent-wrapper {
  display: none;
  max-height: 100%;
  overflow: hidden;

  @media screen and (min-width: $tablet-lg) {
    display: block;
  }
}

.menu-overlay__accent {
  margin: 0 auto;

  @media screen and (min-width: $tablet-lg) {
    box-sizing: border-box;
    padding: 10rem 6rem 6rem;
  }
}

.menu-overlay__btn-close {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;

  .menu-icon-close {
    fill: $color__black;
    height: 1.333rem;
    opacity: 1;
    width: 1.333rem;
    transition: all $transition-standard;
    visibility: visible;
  }

  &:hover {
    .menu-icon-close {
      fill: $color__gray;
    }
  }
}
