@import "../../../stylesheets/variables";

.menu-overlay-wrapper {
  background: $color__white;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  transition: opacity 500ms ease;
  z-index: $zindex-overlay;

  &.fade-transition {
    transition: opacity $transition-standard;
  }

  &.fade-enter,
  &.fade-leave {
    opacity: 0;
  }
}

.menu-overlay {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: $header-height;

  @media screen and ($large-screens) {
    margin-top: 0;
  }
}

.menu-overlay__nav-wrapper,
.menu-overlay__accent-wrapper {

  @media ($large-screens) {
    min-height: 100vh;
    width: 50%;
  }
}

.menu-overlay__nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem;

  @media ($large-screens) {
    padding: 6rem;
  }
}

.menu-overlay__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  max-width: 30rem;
}

.menu-overlay__nav-list__item,
a.menu-overlay__nav-list__item {
  font-family: $font__family-serif;
  font-size: 4rem;
  color: $color__black;
  letter-spacing: 0.075rem;
  line-height: 1.333;
  text-decoration: none;
  transition: color $transition-standard;

  &:hover {
    color: $color__gray;
  }

  @media ($large-screens) {
    color: $color__gray;

    &:hover {
      color: $color__black;
    }
  }
}

.menu-overlay__nav-social {
  border-top: 1px solid $color__gray-light;
  padding-top: 6rem;
}

.menu-overlay__nav-social__item,
a.menu-overlay__nav-social__item {
  transition: color $transition-standard;
  text-decoration: none;
  &:first-of-type {
    margin-right: 2rem;
  }
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.menu-overlay__nav-contact {
  font-family: $font__family-serif;
  font-size: 1.4rem;
  line-height: 1.4286;
  margin-top: 4rem;
  max-width: 30rem;

  p {
    margin-top: 1rem;
  }

  a {
    color: $color__black;
    letter-spacing: 0.03rem;
    text-decoration: none;
    transition: color $transition-standard;

    &:hover {
      color: $color__gray;
    }
  }
}

.menu-overlay__accent-wrapper {
  display: none;
  height: 100%;
  overflow: hidden;
  width: 50%;

  @media ($large-screens) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.menu-overlay__accent {
  margin: 0;
  max-height: 90%;

  @media ($large-screens) {
    max-width: 40vw;
  }
}

.menu-overlay__btn-close {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;

  .menu-icon-close {
    fill: $color__black;
    height: 1.333rem;
    opacity: 1;
    width: 1.333rem;
    transition: all $transition-standard;
    visibility: visible;
  }

  &:hover {
    .menu-icon-close {
      fill: $color__gray;
    }
  }
}
