@import "../../../stylesheets/variables";

.modal-wrap {
  background: rgba($color__black, 0.2);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  transition: opacity 500ms ease;
  z-index: $zindex-modal;

  align-items: center;
  display: flex;
  justify-content: center;

  &.fade-transition {
    transition: opacity $transition-standard;

    .modal {
      transition: transform $transition-standard, opacity $transition-standard;
    }
  }

  &.fade-enter,
  &.fade-leave {
    opacity: 0;
    .modal {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

.modal {
  background: $color__white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: $header-height;
  position: relative;
  width: 100%;
  min-height: 300px;

  @media screen and (min-width: 500px) {
    max-width: 500px;
  }

  @media screen and ($large-screens) {

  }
}

.btn-close {
  appearance: none;
  background: transparent;
  border: none;
  display: block;
  height: 1.3rem;
  position: absolute;
  right: 1.4rem;
  top: 1.2rem;
  width: 2rem;
  text-indent: -9999px;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    transition: border-color $transition-standard;
  }

  &:after {
    border-bottom: 0.2rem solid $color__black;
    transform: rotate(45deg);
  }

  &:before {
    border-top: 0.2rem solid $color__black;
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    border-color: $color__gray;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}