@import "../../../stylesheets/variables";

.site-header {
  background: transparent;
  height: $header-height;
  position: fixed;
  text-align: center;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: $zindex-navbar-fixed;

  &.fade-transition {
    transition: all 150ms $timing-function-easeInOutQuad;
  }

  &.fade-enter,
  &.fade-leave {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}

.logo {
  width: 12rem;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-menu {
  height: 1.3rem;
  width: 1.8rem;
  border: 0;
  display: block;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
  }

  &:after {
    border-bottom: 0.2rem solid $color__black;
    top: 75%
  }

  &:before {
    border-top: 0.2rem solid $color__black;
    top: 25%;
  }

  .shade--dark &:after,
  .shade--dark &:before {
    border-color: $color__white;
  }

  .shade--light &:after,
  .shade--light &:before {
    border-color: $color__black;
  }
}

.btn-menu--open {

  &:after,
  &:before {
    top: 50%;

  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }
}

.btn-menu--closed,
.btn-menu--closed:after,
.btn-menu--closed:before {

}
