// All Mixins

//@import "example";

@mixin icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font__icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin btn {
  background: transparent;
  border: 1px solid $color__gray-light;
  border-radius: 0;
  color: $color__black;
  display: block;
  font-size: 1.4rem;
  height: 5rem;
  line-height: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-color $transition-standard;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $color__black;
    box-shadow: none;
    outline: none;
  }

  &[disabled],
  &.is-disabled {
    border-color: $color__gray;
    color: $color__gray;
    &:hover {
      border-color: $color__gray;
      color: $color__gray;
    }
  }

  @media screen and ($large-screens) {
    max-width: 20rem;
  }
}
