// Color Scheme
// =============

// Grayscale Palate
$color__white                 : #ffffff;
$color__gray                  : #c1c1c1;
$color__black                 : #000000;

// Base fonts
// ==========
$font__base-line-height       : 1.75 !default;
$font__base-size              : 10px !default;
$font__base                   : 10 !default;

// Shorthands
$base-fs                      : $font__base-size;
$base-lh                      : $font__base-line-height;

// Plugin Settings
// ===============

// Settings: Susy Grid
// @var $susy.columns Include the number of columns in your grid
// @var $susy.gutters The size of a gutter in relation to a single column
$susy: (
  columns                     : 12,
  gutters                     : 1/4,
);

$base-size                    : $base-fs;

// Breakpoints
// ===========

// Screen sizes
$screen-xs-min: 0; // Most phones in portrait, small phones in both portrait and landscape
$screen-sm-min: 500px; // Large phones, small tablets
$screen-md-min: 768px; // Tablets, mostly
$screen-lg-min: 1152px; // Regular desktops
$screen-xl-min: 1800px; // Large desktop (design above this resolution does not scale)
$screen-xxl-min: 2200px; // Super large desktops

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// Media query shortcuts, e.g. @media ($large-screens)
$small-screens: 'max-width: #{$screen-sm-max}';
$large-screens: 'min-width: #{$screen-md-min}';
$screen-xs: 'max-width: #{$screen-xs-max}';
$screen-xl: 'min-width: #{$screen-xl-min}';

//

$header-height: 8rem;

// Font Stacks
// ===========
$font__family-serif           : "Sabon Roman", serif;
$font__family-sans            : "Brown STD Regular", "Helvetica Neue", Helvetica, sans-serif;
$font__family-default         : $font__family-sans !default;

// Font Weights
// ============
$font__weight-xlight          : 200;
$font__weight-light           : 300;
$font__weight-normal          : 400;
$font__weight-medium          : 500;
$font__weight-semibold        : 700;
$font__weight-bold            : 800;
$font__weight                 : $font__weight-normal !default;

// Transitions
// ===========
$timing-function-easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$timing-function-easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$timing-function-easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$timing-function-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$timing-function-easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$transition-standard: 300ms $timing-function-easeInOutQuad;
$transition-sharper: 240ms ease;
$transition-easeOut: 400ms $timing-function-easeOutCubic;
$transition-easeIn: 500ms $timing-function-easeInCubic;
$drawer-transition: $transition-standard;
$transition-easeInOut: 220ms $timing-function-easeInOutQuart;

// Z-index master list
// ===================
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-main                  : 100  !default;
$zindex-footer                : 150  !default;
$zindex-navbar                : 1000 !default;
$zindex-dropdown              : 1000 !default;
$zindex-popover               : 1060 !default;
$zindex-tooltip               : 1070 !default;
$zindex-modal-background      : 1040 !default;
$zindex-modal                 : 1050 !default;
$zindex-overlay               : 1150 !default;
$zindex-overlay-sup           : 1200 !default;
$zindex-navbar-fixed          : 1250 !default;
$zindex-loader                : 2000 !default;
