.ingredients {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.ingredient {
  bottom: 50%;
  left: 50%;
  opacity: 1;
  max-width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20rem;

  &.fade-transition {
    transition: opacity $transition-standard;
  }

  &.fade-enter,
  &.fade-leave {
    opacity: 0;
  }

  @media screen and ($small-screens) {
    bottom: 0;
    height: auto;
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--cypres {
  display: none;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--cedre {
  transform: translate(-220%, 90%);
  width: 24rem;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--oud {
  display: none;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--rose {
  transform: translate(55%, 90%);
  width: 35rem;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--patchouli {
  display: none;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}

.ingredient--cuir {
  display: none;

  @media screen and ($small-screens) {
    transform: translate(-50%, -50%);
    width: 18rem;
  }
}
