.newsletter__form {

}
.newsletter__label {
  display: block;
  font-family: $font__family-serif;
  font-size: 1.4rem;
}

.newsletter__email,
.newsletter__form__btn-submit {
  font-family: $font__family-sans;
}

.newsletter__email {
  font-size: 1.4rem;
  line-height: 1;
  padding: 1rem 0.5rem;
}

.newsletter__form__btn-submit {
  text-transform: uppercase;
}

