// SLIDE
// ==============================================

.slide {
  background: transparent center no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .is-mobile & {
    position: relative;
    top: auto;
    left: auto;
  }
}

// SLIDE - SECTION 0: INTRO/HERO
// ----------------------------------------------
.slide--intro {
  align-items: center;
  display: flex;
  justify-content: center;

  .is-mobile & {
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
}

.slide--intro__logo {
  transform: translate(0, -3rem);
  user-select: none;
  width: 20rem;
}

.slide--intro__icn-scroll {
  animation: bounce-arrow 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  background: url('/images/icon-scroll-down.svg') center center no-repeat;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  text-indent: -9999px;
  transform: translate(-50%, 0);
  transition: opacity $transition-standard;
  height: 1.5rem;
  width: 3.4rem;

  .is-mobile & {
    bottom: 10rem;
    left: calc(50%);
  }

  .is-hidden {
    opacity: 0;
  }
}

// SLIDE - SECTION 1: THE CANDLE
// ----------------------------------------------
.slide--1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and ($large-screens) {
    flex-direction: row;
  }

  .is-mobile & {
    height: auto;
    min-height: 100vh;
    position: relative;
  }
}

.slide__product-images {
  left: 0;
  width: 50%;
  transform: translate(0, -50%);

  .is-mobile & {
    left: auto;
    width: 50%;
    transform: translate(0, 0);
  }
}

.slide__product-image {
  left: 50%;
  width: 20rem;
  max-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -25%);

  @media screen and ($large-screens) {
    width: 30rem;
  }

  .is-mobile & {
    left: auto;
    top: auto;
    margin-top: 10rem;
    position: relative;
    transform: translate(0, 0);
  }
}

// Product Carousel (mobile only)
$image-size: 20rem;

.slide__product-carousel-wrapper {
  position: relative;
  min-height: $image-size;
  display: block;
  width: 100%;

  .flickity-prev-next-button {
    transform: scale(0.75) translateY(-25%);
  }
}

.slide__product-carousel {
  height: $image-size;
  width: 100%;
}

.slide__product-carousel__item {
  display: block;
  height: $image-size;
  margin: 0;
  text-align: center;
  width: 100%;
}

.slide__product-carousel__image {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: $image-size;
}

.slide__product-info {
  margin-top: 25rem;
  text-align: center;
}

.slide__product-wrapper,
.slide__accent-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  @media screen and ($large-screens) {
    width: 50%;
  }
}

.slide__product-wrapper {
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  position: relative;

  .is-mobile & {
    height: auto;
    width: 100%;
  }
}

.slide__product-heading {
  font-family: $font__family-sans;
  font-size: 1.4rem;
  line-height: 1.6667;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.slide__product-desc {
  font-family: $font__family-serif;
  font-size: 1.6rem;
  line-height: 1.666;
}

.slide__product-desc--primary {
  color: $color__black;
}

.slide__product-desc--secondary {
  color: $color__gray;
}

.slide__accent-wrapper {
  align-items: flex-start;
}

.slide__accent-image {
  display: none;

  @media screen and ($large-screens) {
    display: block;
    max-width: 40vw;
  }
}

// SLIDE - SECTION 2: THE CANDLE
// ----------------------------------------------

.slide--2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$header-height});
  justify-content: center;
  margin-top: $header-height;

  .is-mobile & {
    height: auto;
    margin-top: 0;
    min-height: 100vh;
    position: relative;
  }
}

// SLIDE - SECTION 3: DOOR
// ----------------------------------------------

.slide--3 {
  background: $color__white url('/images/bg-door.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: 0;

  .is-mobile & {
    height: auto;
    min-height: 100vh;
    position: relative;
  }
}

// SLIDE - SECTION 4: PRODUCT
// ----------------------------------------------

.slide--4 {
  height: calc(100% - #{$header-height});
  margin-top: $header-height;

  .is-mobile & {
    height: 100vh;
    position: relative;
  }
}

.slide--4__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.slide--4__product-image {
  margin-bottom: 5rem;
  max-width: 20rem;

  @media screen and ($large-screens) {
    max-width: 30rem;
  }
}

// SLIDE - FOOTER
// ----------------------------------------------

.slide--footer-wrapper {
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: fixed;
  width: 100%;

  .is-mobile & {
    position: relative;
  }
}
