// SLIDE
// ==============================================

.slide {
  background: transparent center no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

// SLIDE - SECTION 0: INTRO/HERO
// ----------------------------------------------
.slide--intro {
  align-items: center;
  display: flex;
  justify-content: center;
}

.slide--intro__logo {
  transform: translateY(-3rem);
  user-select: none;
  width: 20rem;
}

.slide--intro__icn-scroll {
  animation: bounce-arrow 2000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  background: url('/images/icon-scroll-down.svg') center center no-repeat;
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-indent: -9999px;
  transform: translateX(-50%);
  height: 1.5rem;
  width: 3.4rem;
}

// SLIDE - SECTION 1: THE CANDLE
// ----------------------------------------------
.slide--1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and ($large-screens) {
    flex-direction: row;
  }
}

.slide__product-images {
  left: 0;
  width: 50%;
  transform: translate(0, -50%);
}

.slide__product-image {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -25%);
  width: 300px;
}

.slide__product-info {
  margin-top: 25rem;
  text-align: center;
}

.slide__product-wrapper,
.slide__accent-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.slide__product-wrapper {
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  position: relative;
}

.slide__product-heading {
  font-family: $font__family-sans;
  font-size: 1.4rem;
  line-height: 1.6667;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.slide__product-desc {
  font-family: $font__family-serif;
  font-size: 1.6rem;
  line-height: 1.666;
}

.slide__product-desc--primary {
  color: $color__black;
}

.slide__product-desc--secondary {
  color: $color__gray;
}

.slide__accent-wrapper {
  align-items: flex-start;
}

.slide__accent-image {
  display: none;

  @media screen and ($large-screens) {
    display: block;
    max-width: 40vw;
  }
}

// SLIDE - SECTION 2: THE CANDLE
// ----------------------------------------------

.slide--2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$header-height});
  justify-content: center;
  margin-top: $header-height;
}

// SLIDE - SECTION 3: DOOR
// ----------------------------------------------

.slide--3 {
  background: $color__white url('/images/bg-door.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: 0;
}

// SLIDE - SECTION 4: PRODUCT
// ----------------------------------------------

.slide--4 {
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
}

.slide--4__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

// SLIDE - FOOTER
// ----------------------------------------------

.slide--footer-wrapper {
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: fixed;
  width: 100%;
}
